@import '../../styles/variables';
@import '../../styles/mixins';

.wrap {
  margin-top: auto;
  background: $snow;
  @include border(top, 1px, solid, $greyGainsboro);
}

footer.footer {
  display: flex;
  margin-top: 0;
  padding: 20px 0;
  font-size: $font-size-sm;
  height: 18px;
  color: $nobel-01;
}
