{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "jsdom": true
  },
  "rules": {
    "valid-jsdoc": 0,
    "no-redeclare": 1,
    "jest/consistent-test-it": ["error", {"fn": "test"}],
    "jest/no-jasmine-globals": 2,
    "jest/expect-expect": [
      "error",
      {
        "assertFunctionNames": ["expect"]
      }
    ],
    "no-console": [
      2,
      {
        "allow": [
          "log",
          "error"
        ]
      }
    ],
    "no-useless-escape": 0
  }
}
