{
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "globals": {
    "jsdom": true
  },
  "rules": {
    "valid-jsdoc": 0,
    "no-redeclare": 1,
    "no-console": [
      2,
      {
        "allow": [
          "log",
          "error"
        ]
      }
    ],
    "no-useless-escape": 0,
    "handle-callback-err": 0,
    "prefer-const": 0,
    "prefer-promise-reject-errors": 1
  }
}
