{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "node": true,
    "mocha": true,
    "es6": true,
    "browser": true
  },
  "globals": {
    "jsdom": true
  },
  "rules": {
    "valid-jsdoc": 0,
    "no-redeclare": 1,
    "no-console": [
      2,
      {
        "allow": [
          "log",
          "error"
        ]
      }
    ],
    "no-useless-escape": 0,
    "@typescript-eslint/explicit-function-return-type": 0
  }
}
