@import '../../../../styles/variables';

.maintainersModule {
  .showAllContributors {
    cursor: pointer;
    width: 100%;
    background: none;
    border: none;
    font-size: $font-size-sm;
    text-align: center;
    padding: 10px 0;
  }
}
