@import "variables";
@import "mixins";

:global {
  .container {
    margin-top: 20px;
    flex: 1;

    @include container-size;

    .el-loading-spinner {
      margin-top: 0 !important;
    }
  }

  .content {
    display: flex;
  }

  .page-full-height {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
  }

  .el-button {
    &:hover, &:focus {
      color: $primary-color;
      border-color: $primary-color;
    }
  }

  .el-input__inner {
    &:hover, &:focus {
      border-color: $primary-color;
    }
  }

  .el-dialog__headerbtn:hover .el-dialog__close {
    color: $eclipse;
  }

  .package-list-items {
    width: 100%;
  }
}
