{
  "presets": [
    "react",
    ["env",{
      "targets": {
        "browsers": ["last 5 versions", "safari >= 11"],
        "loose": true
      }
    }],
    "stage-2",
    "stage-3"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "presets": ["flow"],
      "plugins": [
        "flow-runtime"
      ]
    }
  }
}
