{
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "globals": {
    "__DEBUG__": true
  },
  "rules": {
    "require-jsdoc": 0,
    "no-console": 2,
    "no-unused-vars": [
      2,
      {
        "vars": "all",
        "args": "all"
      }
    ],
    "comma-dangle": 0,
    "semi": 1,
    "react/no-danger-with-children": 1,
    "react/no-string-refs": 1,
    "react/prefer-es6-class": [
      2,
      "always"
    ]
  }
}
