{
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "globals": {
    "__DEBUG__": true
  },
  "rules": {
    "require-jsdoc": 0,
    "camelcase": ["error"],
    "no-console": [
      1,
      {
        "allow": [
          "log"
        ]
      }
    ],
    "no-unused-vars": [
      2,
      {
        "vars": "all",
        "args": "all"
      }
    ]
  }
}
