@import '../../styles/variable';

.searchBox {
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  border: none;
  border-bottom: 1px solid lightgrey;
  outline: none;

  &:focus {
    border-bottom: 1px solid grey;
  }
}
