[data-theme='dark'] pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
[data-theme='dark'] code.hljs {
  padding: 3px 5px;
}
/*!
  Theme: GitHub Dark
  Description: Dark theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-dark
  Current colors taken from GitHub's CSS
*/
[data-theme='dark'] .hljs {
  color: #c9d1d9;
  background: #0d1117;
}
[data-theme='dark'] .hljs-doctag,
[data-theme='dark'] .hljs-keyword,
[data-theme='dark'] .hljs-meta .hljs-keyword,
[data-theme='dark'] .hljs-template-tag,
[data-theme='dark'] .hljs-template-variable,
[data-theme='dark'] .hljs-type,
[data-theme='dark'] .hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #ff7b72;
}
[data-theme='dark'] .hljs-title,
[data-theme='dark'] .hljs-title.class_,
[data-theme='dark'] .hljs-title.class_.inherited__,
[data-theme='dark'] .hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #d2a8ff;
}
[data-theme='dark'] .hljs-attr,
[data-theme='dark'] .hljs-attribute,
[data-theme='dark'] .hljs-literal,
[data-theme='dark'] .hljs-meta,
[data-theme='dark'] .hljs-number,
[data-theme='dark'] .hljs-operator,
[data-theme='dark'] .hljs-variable,
[data-theme='dark'] .hljs-selector-attr,
[data-theme='dark'] .hljs-selector-class,
[data-theme='dark'] .hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #79c0ff;
}
[data-theme='dark'] .hljs-regexp,
[data-theme='dark'] .hljs-string,
[data-theme='dark'] .hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #a5d6ff;
}
[data-theme='dark'] .hljs-built_in,
[data-theme='dark'] .hljs-symbol {
  /* prettylights-syntax-variable */
  color: #ffa657;
}
[data-theme='dark'] .hljs-comment,
[data-theme='dark'] .hljs-code,
[data-theme='dark'] .hljs-formula {
  /* prettylights-syntax-comment */
  color: #8b949e;
}
[data-theme='dark'] .hljs-name,
[data-theme='dark'] .hljs-quote,
[data-theme='dark'] .hljs-selector-tag,
[data-theme='dark'] .hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #7ee787;
}
[data-theme='dark'] .hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #c9d1d9;
}
[data-theme='dark'] .hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #1f6feb;
  font-weight: bold;
}
[data-theme='dark'] .hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #f2cc60;
}
[data-theme='dark'] .hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #c9d1d9;
  font-style: italic;
}
[data-theme='dark'] .hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #c9d1d9;
  font-weight: bold;
}
[data-theme='dark'] .hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #aff5b4;
  background-color: #033a16;
}
[data-theme='dark'] .hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #ffdcd7;
  background-color: #67060c;
}
[data-theme='dark'] .hljs-char.escape_,
[data-theme='dark'] .hljs-link,
[data-theme='dark'] .hljs-params,
[data-theme='dark'] .hljs-property,
[data-theme='dark'] .hljs-punctuation,
[data-theme='dark'] .hljs-tag {
  /* purposely ignored */
}
