{
  "env": {
    "ui": {
      "presets": [
        "react",
        ["env",{
          "targets": {
            "browsers": [
              "last 5 versions",
              "FireFox >= 44",
              "Safari >= 7",
              "Explorer 11",
              "last 4 Edge versions"
            ],
            "loose": true
          }
        }],
        "stage-2",
        "stage-3"
      ],
      "plugins": [
        "react-hot-loader/babel",
        "transform-runtime",
        "transform-object-rest-spread",
        "transform-decorators-legacy",
        "syntax-dynamic-import"
      ]
    },
    "test": {
      "presets": [["env", {
        "targets": {
          "node": "6.10"
        }
      }], "flow", "react"],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
    },
    "testOldEnv": {
      "presets": [ "es2015-node4", "flow"],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
    },
    "registry": {
      "presets": [
        ["env", {
          "targets": {
            "node": "6.10"
          }
        }], "stage-3", "flow"],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
      ]
    },
    "registry-docker": {
      "presets": [
        ["env", {
          "targets": {
            "node": "10"
          }
        }], "flow"],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
      ]
    },
    "development": {
      "presets": ["flow"],
      "plugins": ["flow-runtime"]
    }
  }
}
