# we try to avoid adding files to the docker images that change often
# or that are not needed for running the docker image
# this greatly reduces the amount of times we need to rerun `npm install` when building image locally
# https://codefresh.io/blog/not-ignore-dockerignore/
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# consider them hidden
.*
# you can add exceptions like in .gitignore to maintain a whitelist:
# e.g.
!babel.config.js
!.eslintrc
!.prettierrc
!.eslintignore
!.stylelintrc
!.jest.config.js
!.jestEnvironment.js
!.yarnrc.yml
!.yarn/releases/yarn-berry.cjs
!.yarn/plugins/*

# do not copy over node_modules we will run `npm install` anyway
node_modules
website

# output from test runs and similar things
*.log
coverage/
.vscode/

# IDE config files
jsconfig.json
*.iml

# let's not get too recursive ;)
Dockerfile*
docker-compose*.yaml
