{
  "extends": [
    "@verdaccio"
  ],
  "rules": {
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/ban-ts-ignore": 0,
    "@typescript-eslint/no-inferrable-types": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/no-this-alias": ["warn"],
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/array-type": ["warn"],
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/indent": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "import/order": 0,
    "handle-callback-err": 1,
    "prefer-const": 1,
    "prefer-promise-reject-errors": 1
  }
}
