# files
node_modules
coverage/
wiki/
static/
flow-typed/
website/
build/
Dockerfile
test/unit/partials/
types/custom.d.ts
LICENSE
.pnp.js

# extensions 
*.md
*.lock
*.yaml
*.rpi
*.html
*.scss
*.png
*.jpg
*.sh
*.ico
