{
  "plugins": [
    "react",
    "flowtype",
    "jest"
  ],
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:react/recommended",
    "plugin:flowtype/recommended",
    "plugin:jest/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "__APP_VERSION__": true
  },
  "rules": {
    "no-useless-escape": 2,
    "handle-callback-err": 2,
    "no-fallthrough": 2,
    "no-new-require": 2,
    "max-len": [2, 160],
    // strong change by now, but we need to enable this rule in the future
    "camelcase": 0,

    // google eslint rule enable this, we do not want it
    "require-jsdoc": 0,
    "valid-jsdoc": 0,

    // enable this in the future
    "prefer-spread": 1,
    "prefer-rest-params": 1,

    // disallows quotes around object literal property names that are not strictly required
    // handling metadata enable this helps
    "quote-props":["error", "as-needed"]
  }
}
