node_modules
coverage/
wiki/
static/
flow-typed/
website/
build/
dist/
*.md
*.lock
*.yaml
Dockerfile
*.rpi
*.html
*.scss
*.png
*.json
*.name
*.tgz
*.jpg
*.sh
**/partials/**
**/fixtures/**
types/custom.d.ts
**/mock/store/**
