*.log*
verdaccio-*.tgz
.DS_Store
build/
.eslintcache
dist/

### Test

.verdaccio-db.json
.sinopia-db.json

###
test-storage*
.verdaccio_test_env
node_modules
package-lock.json
yarn-error.log
yarn.lock


# jest
reports/
coverage/

## IDE
.idea/

# Compiled script
packages/partials
tsconfig.tsbuildinfo


# website
website/public
website/.cache

# CI Pnpm cache
.pnpm-store/
