
## npm
yarn-error.log
node_modules
verdaccio-*.tgz
docker-compose.yaml
Dockerfile
scripts/
src/
/.*
.vscode/
.circleci/
docker-examples/
reports/
## assets and website
assets/

## docs
docs/
wiki/

## flow
flow-typed/
types/

# jest
coverage/
test-storage*
test/
__mocks__/
jestEnvironment.js
test/jest.e2e.config.js
test/jest.config.functional.js
jest.config.js

# misc
contrib/
storage_default_storage/
docker-bin/
tsconfig.json
*.md
prettier.config.js
eslintrc.cjs
babel.config.js
debug/*
tsconfig*
vitest.config.mjs

