.cache/
**/corrupted-package/package.json
**/corrupted.json
**/invalid.js
**/invalid.json
**/verdaccio-corrupted.db.json
**/wrong.package.json
CHANGELOG.md
README.md
CONTRIBUTORS.md
test/unit/partials/config/js/*
node_modules/
**/coverage/**
**/build/*.js
build/*
.github/
.vscode/
.yarnrc.yml
.yarn/
test/functional/store/*
storage_default_storage/*
.prettierignore
.npmignore
.gitignore
*.ico
