{
  "useTabs": false,
  "printWidth": 160,
  "tabWidth": 2,
  "singleQuote": true,
  "requirePragma": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "trailingComma": "es5",
  "semi": true,
  "parser": "flow"
}
