.cache/
assets/**/*
**/corrupted-package/package.json
**/corrupted.json
**/invalid.js
**/invalid.json
**/pnpm-lock.yaml
**/verdaccio-corrupted.db.json
**/wrong.package.json
crowdin.yaml
CHANGELOG.md
CONTRIBUTORS.md
node_modules/
**/coverage/**
**/static/*.js
**/dist/*.js
**/build/*.js
packages/core/local-storage/_storage/**
packages/partials/storage_default_storage/
packages/standalone/dist/bundle.js
packages/verdaccio/dist/bundle.js
docker-examples/v5/reverse_proxy/nginx/relative_path/storage/*
build/
.vscode/
.github/
packages/**/docs/**
packages/mock/mock-store/**
api/**
packages/core/local-storage/tests/__fixtures__/test-storage/
packages/plugins/ui-theme/static/
.verdaccio-db.json
test/cli/e2e-yarn4/bin/yarn-4.0.0-rc.14.cjs
yarn.js
packages/ui-components/storybook-static/*
