@use '_buttons.scss';
@use '_headers.scss';

:root {
  --ifm-color-primary: var(--verdaccio-color);
  --ifm-color-primary-dark: #44553a;
  --ifm-color-primary-darker: #415036;
  --ifm-color-primary-darkest: #35422d;
  --ifm-color-primary-light: #546746;
  --ifm-color-primary-lighter: #576c4a;
  --ifm-color-primary-lightest: #637a53;

  /* custom palette */
  --dark-blue: #004074;
  --grey: #f2f3f2;
  --grey-darker: #b7b7b7;
  --grey-light: #f7f7f7;
  --grey-lighter: #f9f9f9;
  --verdaccio-color: #4a5e3e;
  --twitter-color: #1595de;
  --red: #cd4001;
  --p-color: #5c5c5c;
  --font-size: 0.875rem;
  --font-size-big: calc(var(--font-size) * 1.2);
  --selection-color: var(--ifm-color-white);
}

html[data-theme='dark']:root {
  --ifm-color-primary: var(--red);
  --ifm-color-primary-dark: #b93a01;
  --ifm-color-primary-darker: #ae3601;
  --ifm-color-primary-darkest: #902d01;
  --ifm-color-primary-light: #e24601;
  --ifm-color-primary-lighter: #ec4a01;
  --ifm-color-primary-lightest: #fe580e;

  --ifm-navbar-background-color: #061a38;
  --ifm-dropdown-background-color: #061a38;
  --ifm-global-shadow-lw: 0 1px 2px 0 rgba(255, 255, 255, 0.173);
  --ifm-navbar-shadow: var(--ifm-global-shadow-lw);

  --grey-lighter: #041329;
  --p-color: #b7b7b7;
  --verdaccio-color: #fff;
  --grey: #f3f3f3;
  --selection-color: var(--dark-blue);
}

div[role='banner'] {
  background-color: var(--ifm-navbar-background-color);
  color: var(--p-color);
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url('/img/header/github.svg') no-repeat;
}

.header-bluesky-link:hover {
  opacity: 0.6;
}

.header-bluesky-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-image: url('/img/header/bluesky.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

::-moz-selection {
  color: var(--selection-color);
  background: var(--verdaccio-color);
}

::selection {
  color: var(--selection-color);
  background: var(--verdaccio-color);
}

.main-wrapper {
  background-color: var(--grey-lighter);
}

a:hover {
  color: var(--ifm-color-primary);
}

article a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

a[aria-current='page'] {
  /* important because text-decoration none on hover */
  text-decoration: underline !important;
  text-underline-position: under;
  color: var(--verdaccio-color);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] {
  .header-github-link:before {
    filter: invert(1);
  }

  .footer--dark {
    --ifm-footer-background-color: #061a38;
  }

  .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.opacity-0 {
  opacity: 0;
}

.markdown iframe {
  width: 100%;
}

.specialButton {
  background-color: #ffd700;
  color: #1595de;
}
.secondarySpecialButton{
  background-color: #f3f3f3;
  color: #1a1a1a;
}