.help {
  .noPkg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    font-size: 20px;
    color: #9f9f9f;

    .noPkgTitle {
      margin: 1em 0;
      padding: 0;
      font-size: 24px;
    }

    .noPkgIntro {
      line-height: 1.5;
      margin: 0 auto;
      font-size: 14px;
    }

    code {
      font-style: italic;
    }
  }
}
