@import '../../styles/variables';
@import '../../styles/mixins';

.help {
  .noPkg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    font-size: $font-size-lg;
    color: $nobel-02;

    .noPkgTitle {
      margin: 1em 0;
      padding: 0;
      font-size: $font-size-xl;
    }

    .noPkgIntro {
      line-height: $line-height-xxs;
      margin: 0 auto;
      font-size: $font-size-sm;
    }

    code {
      font-style: italic;
    }
  }
}
