@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.maintainer {
  display: flex;
  line-height: $line-height-xl;
  cursor: default;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 100%;
    flex-shrink: 0;
  }

  span {
    font-size: $font-size-sm;
    flex-shrink: 1;
    @include ellipsis;
  }
}
