@import '../../../styles/variables';
@import '../../../styles/mixins';

.module {

  margin-bottom: 10px;

  .moduleTitle {
    display: flex;
    align-items: flex-end;
    font-size: $font-size-lg;
    margin: 0 0 10px;
    padding: 5px 0;
    font-weight: $font-weight-semibold;
    @include border-bottom-default($greyGainsboro);

    span { // description
      font-size: $font-size-sm;
      color: $greyChateau;
      margin-left: auto;
      font-weight: $font-weight-light;
    }
  }
}
