.mainContainer .wrapper a,
.inner .projectIntro a {
  color: #1a1a1a;
  transition: all 0.25s ease-out;
  text-decoration: none;
}

.mainContainer .wrapper a:hover,
.inner .projectIntro a:hover {
  text-decoration: underline;
}

.feature-section .blockContent {
  max-width: 600px;
  margin: 0 auto;
}

.header_title {
  margin-top: 0;
}

.docker-count img {
  margin-left: initial;
}

.tweets-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tweets-section > div {
  padding: 20px;
  flex: 2;
  box-sizing:border-box;
  text-align: center;
   margin: 0 auto;
}

.tweets-section > div  .twitter-tweet {
  margin: 0 auto !important;
}

/** team **/

.team_container a,
.team_container a:hover {
  font-size: 80%;
  text-decoration: none;
}

.member_group {
  display: flex;
  flex-wrap: wrap;
}

.member_media_object {
  width: 15%;
  box-sizing: border-box;
  text-align: center;
}


.member_media_object .team_role {
  font-size: 80%;
}

@media (min-width: 1281px) {
  .member_media_object {
    width: 15%
  }
}

@media (min-width: 1025px) and (max-width:1280px) {
  .member_media_object {
    width: 33.3%
  }
}

@media (min-width: 768px) and (max-width:1024px) {
  .member_media_object {
    width: 50%
  }
}

@media (min-width: 768px) and (max-width:1024px) and (orientation:landscape) {
  .member_media_object {
    width: 50%
  }
}

@media (min-width: 481px) and (max-width:767px) {
  .member_media_object {
    width: 100%
  }
}

@media (min-width: 320px) and (max-width:480px) {
  .member_media_object {
    width: 100%
  }
}

.member_section {
  width: 100%;
}

.member_section .language_title {
  text-transform: capitalize;
  margin-bottom: 5px;
  margin-top: 10px;
}

.member_info {
  line-height: 1.7;
}

.member_info > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.member_avatar > img {
  border-radius: 50px;
  border: 1px solid #4b5e40;
}

