@import '../../styles/variable';

.wrap {
  margin-top: auto;
  border-top: 1px solid $border-color;
  background: #f9f9f9;
}
footer.footer {
  display: flex;
  margin-top: 0;
  padding: 20px 0;
  font-size: 14px;
  height: 18px;
  color: #999;

  span {
    display: inline-block;
    height: 18px;
    vertical-align: middle;
  }

  .tooltip {
    margin-left: 5px;
    position: relative;
    margin-top: -2px;
    height: 20px;
    background: #d3dddd;
    padding: 1px 4px;
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(.12,.76,.14,.99);
    transform-origin: left;
    &:before {
      position: absolute;
      top: 3px;
      left: -7px;
      display: block;
      content: '';
      width: 7px;
      height: 15px;
      background: #d3dddd;
      background-image: linear-gradient(45deg, white, white 30%, transparent 30%), linear-gradient(-225deg, white, white 30%, transparent 30%);
    }


    span:not(:first-child) {
      margin-left: 8px;
    }
  }

  // Footer Hover
  &.showAuthorsGeographic .tooltip,
  &:hover .tooltip {
    display: block;
    transform: scaleX(1);
  }

  .earth {
    margin-left: 8px;
    margin-right: 8px;
  }

  :global {
    .emoji {
      width: 18px;
      height: 18px;
    }
  }

  .right {
    margin-left: auto;
  }
  .logo {
    vertical-align: top;
    height: 18px;
    width: 20px;
  }
}
