[Unit]
Description=verdaccio Service

[Service]
Type=simple
User=verdaccio
WorkingDirectory=/home/verdaccio
ExecStart=/usr/bin/env verdaccio
ExecStop=/usr/bin/bash -c "kill $(ps -ef | grep ^verdacc+ | awk {'print $2'})"

[Install]
WantedBy=multi-user.target
