@import '../../styles/variable';

.pkgDetail {
  .title {
    font-size: 26px;
    color: $primary-color;
    border-bottom: 1px solid $border-color;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0 0 40px;
    padding-bottom: 5px;
  }

  .readme {
    margin-bottom: 5em;
  }
}
