.maintainer {
  $mine-height: 30px;
  display: flex;
  line-height: $mine-height;
  cursor: default;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
  img {
    width: $mine-height;
    height: $mine-height;
    margin-right: 10px;
    border-radius: 100%;
    flex-shrink: 0;
  }
  span {
    font-size: 14px;
    flex-shrink: 1;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
