<!doctype html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>{{ name }}</title>

		<link rel="stylesheet" type="text/css" href="/-/static/main.css">
	</head>
	<body>
		<div id='content'>
			<h1><a href='/'>{{ name }}</a></h1>

			<form id='search-form'>
				<input type='text' placeholder='search' name='q' />
				<button class='clear'>x</button>
			</form>

			<div id='search-results'></div>

			<div id='standard-content'>
				<div class='center'>
					<article id='setup'>
						<code>npm set registry {{ baseUrl }}</code><br>
						<code>npm adduser --registry {{ baseUrl }}</code>
					</article>
				</div>

				<h2>Available Packages:</h2>
				{{#each packages}}
					{{> entry}}
				{{/each}}

				<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
				<script type='text/javascript' src='/-/static/main.js'></script>
			</div>
		</div>
	</body>
</html>
