@import '../../styles/variables';
@import '../../styles/mixins';

.pkgDetail {
  .title {
    font-size: $font-size-xxl;
    font-weight: $font-weight-semibold;
    margin: 0 0 40px;
    padding-bottom: 5px;
    @include border-bottom-default($greyGainsboro);
  }

  .readme {
    margin-bottom: 5em;
  }
}
