@import '../../../../styles/variables';

.releasesModule {
  li {
    display: flex;
    font-size: $font-size-sm;
    line-height: $line-height-xs;

    span:last-child {
      margin-left: auto;
    }
  }
}
