@import '../../../../styles/variable';

.maintainersModule {
  .showAllContributors {
    cursor: pointer;
    width: 100%;
    background: none;
    border: none;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
  }
}
