@import '../../../../node_modules/normalize.css/normalize.css';

body {
	font-family: "Roboto","Helvetica","Arial",sans-serif;	
}

.body {
	margin: 0;
	padding: 0;
}

.list-container {
	padding-top: 20px;
}

.wrapper {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.wrapper {
		width: 750px;
	}
}

@media (max-width: 992px) {
	.npm-logo {
		width: 100px;
		float: left;
	}

	.packages-header {
		border-bottom: none;
	}
} 

@media (max-width: 768px) {
	.navbar {
		border-radius: 4px;
	}
	.wrapper {
		width: 755px;
	}
	.list-container {
		padding-top: 20px;
	}
}
