.featureCard {
  background-color: var(--ifm-navbar-background-color);
  border-radius: 15px;
  padding: 1rem;
  box-shadow: var(--ifm-navbar-shadow);
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 0.3fr 1fr;
  text-align: center;

  img {
    width: 4rem;
    margin: 0 auto;
  }

  h3 {
    color: var(--verdaccio-color);
    font-weight: normal;
    font-size: 1.375rem;
  }

  p {
    color: var(--p-color);
    font-size: var(--font-size);
  }
}

@media only screen and (max-width: 600px) {
  .featureCard {
    text-align: left;
    column-gap: 2rem;
  }
}
