.twitterCarrousel {
  display: inline-flex;
  gap: 3rem;
  opacity: 1;
  justify-content: center;
  align-items: center;
}

.circleWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  margin-right: 1rem;
  padding: 0;
  border: solid 2px var(--twitter-color);

  &--selected {
    background-color: var(--twitter-color);
    animation: bounce 1s;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@media only screen and (max-width: 950px) {
  .twitterCarrousel {
    overflow-x: auto;
    max-width: 100%;
    gap: 2rem;
    opacity: 1;
    justify-content: flex-start;
    width: 90%;
    align-items: center;
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .twitterCarrousel {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
