.pkgContainer {
  margin: 0;
  padding: 0;

  li {
    border-bottom: 1px solid #e4e8f1;
    list-style: none;

    &:last-child {
      border-bottom: none;
    }
  }

  .listTitle {
    font-weight: normal;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 0;
  }
}
