@import '../../styles/variables';

.alertError {
    background-color: $red !important;
    min-width: inherit !important;
}

.alertErrorMsg {
    display: flex;
    align-items: center;
}

.alertIcon {
    opacity: 0.9;
    margin-right: 8px;
}
