@import '../../../styles/variable';

.module {
  .moduleTitle {
    display: flex;
    align-items: flex-end;
    font-size: 24px;
    color: $primary-color;
    margin: 0 0 10px;
    padding: 5px 0;
    font-weight: 600;
    border-bottom: 1px solid $border-color;

    span { // description
      font-size: 14px;
      color: $text-grey;
      margin-left: auto;
      font-weight: lighter;
    }
  }
}
