@import '../../styles/variables';

.notFound {
  width: 100%;
  font-size: $font-size-md;
  line-height: $line-height-xl;
  border: none;
  outline: none;
  flex-direction: column;
  align-items: center;
}
