@import '../../styles/variable';

.header {
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;
  background: $primary-color;
  color: #fff;

  figure {
    margin: 0 0 0 10px;
    font-size: 14px;
    line-height: 18px;
    padding: 8px 0;
  }

  .headerWrap {
    display: flex;
    align-items: center;

    @include container-size();
  }

  .headerRight {
    margin-left: auto;
  }

  .logo {
    height: 50px;
  }

  .headerButton {
    color: inherit;
    border-color: #fff;
    background-color: transparent;

    &:hover, &:focus {
      color: $primary-color;
      border-color: #f7f8f6;
      background-color: #f7f8f6;
    }
  }
}

