name: CI

on:
  push:
    branches:
      - master
      - 'changeset-release/master'
  pull_request:
    paths:
      - .changeset/**
      - .github/workflows/ci.yml
      - 'packages/**'
      - 'jest/**'
      - 'package.json'
      - 'pnpm-workspace.yaml'
jobs:
  prepare:
    runs-on: ubuntu-latest
    name: setup verdaccio
    services:
      verdaccio:
        image: verdaccio/verdaccio:5
        ports:
          - 4873:4873
    steps:
    - uses: actions/checkout@v2.3.1
    - name: Use Node 14
      uses: actions/setup-node@v1
      with:
        node-version: 14 
    - name: Install pnpm
      run: npm i pnpm@latest -g
    - name: set store
      run: | 
        mkdir ~/.pnpm-store
        pnpm config set store-dir ~/.pnpm-store
    - name: Install
      run: pnpm recursive install --frozen-lockfile --registry http://localhost:4873
    - name: Cache .pnpm-store
      uses: actions/cache@v2
      with:
        path: ~/.pnpm-store
        key: pnpm-${{ hashFiles('pnpm-lock.yaml') }}
        restore-keys: |
          pnpm-
  lint:
    runs-on: ubuntu-latest
    name: Lint
    needs: prepare
    steps:
      - uses: actions/checkout@v2.3.1
      - name: Use Node 16
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install pnpm
        run: npm i pnpm@latest -g
      - uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: pnpm-${{ hashFiles('pnpm-lock.yaml') }}     
      - name: Install
        run: pnpm recursive install --frozen-lockfile --ignore-scripts
      - name: Lint
        run: pnpm lint
  format:
    runs-on: ubuntu-latest
    name: Format
    needs: prepare
    steps:
      - uses: actions/checkout@v2.3.1
      - name: Use Node 16
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install pnpm
        run: npm i pnpm@latest -g
      - uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: pnpm-${{ hashFiles('pnpm-lock.yaml') }}     
      - name: Install
        run: pnpm recursive install --frozen-lockfile --ignore-scripts
      - name: Lint
        run: pnpm format:check
  test:
    needs: [format, lint]
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        node_version: [12, 14]
    name: ${{ matrix.os }} / Node ${{ matrix.node_version }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2.3.1
      - name: Use Node ${{ matrix.node_version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node_version }}
      - name: Install pnpm
        run: npm i pnpm@latest -g
      - uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: pnpm-${{ hashFiles('pnpm-lock.yaml') }}            
      - name: Install
        run: pnpm recursive install --frozen-lockfile --ignore-scripts
      - name: Build
        run: pnpm build
      - name: Test
        run: pnpm test
