name: Docker publish to docker.io

on:
  push:
    paths:
      - .github/workflows/docker-publish.yml
      - 'src/**'
      - 'conf/**'
      - 'types/**'
      - 'docker-bin/**'
      - 'bin/**'
      - 'package.json'
      - 'yarn.lock'
    branches:
      - '**'
    tags:
      - 'v*'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
        with:
          driver-opts: network=host
      - uses: docker/login-action@v1
        name: Login docker.io
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Prepare docker image tags
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          images: ${{ github.repository }}
          tag-custom: 4.x-next
          tag-custom-only: ${{ github.ref == 'refs/heads/master' }}
          tag-semver: |
            {{version}}
            {{major}}
            {{major}}.{{minor}}
      - name: Build & Push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
