name: E2E CLI

on: [pull_request]

permissions:
  contents: read

concurrency:
  group: e2e-ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  prepare:
    runs-on: ubuntu-latest
    name: setup e2e verdaccio
    services:
      verdaccio:
        image: verdaccio/verdaccio:nightly-master
        ports:
          - 4873:4873
        env:
          NODE_ENV: production
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install dependencies with a custom registry
        uses: ./.github/actions/install-app

  e2e-cli-npm:
    needs: [prepare]
    strategy:
      fail-fast: false
      matrix:
        pkg:
          [           
            npm10,
            npm11,
          ]
        node: [22, 24]
    name: ${{ matrix.pkg }} / ubuntu-latest / ${{ matrix.node }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Build application with Node ${{ matrix.node }}
        uses: ./.github/actions/build-app
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies with a custom registry version ${{ matrix.node }}
        uses: ./.github/actions/install-app-node
        with:
          node-version: ${{ matrix.node }}
          reporter: 'default'
          loglevel: 'debug'
      - name: Test CLI
        run: cd e2e/cli/e2e-${{matrix.pkg}} && NODE_ENV=production pnpm test

  e2e-cli-pnpm:
    needs: [prepare]
    strategy:
      fail-fast: true
      matrix:
        pkg:
          [
            pnpm9,
            pnpm10,
          ]        
        node: [20, 25]
    name: ${{ matrix.pkg }} / ubuntu-latest / ${{ matrix.node }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Build application with Node ${{ matrix.node }}
        uses: ./.github/actions/build-app
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies with a custom registry version ${{ matrix.node }}
        uses: ./.github/actions/install-app-node
        with:
          node-version: ${{ matrix.node }}
          reporter: 'default'
          loglevel: 'debug'
      - name: Test CLI
        run: cd e2e/cli/e2e-${{matrix.pkg}} && NODE_ENV=production pnpm test

  e2e-cli-yarn:
    needs: [prepare]
    strategy:
      fail-fast: false
      matrix:
        pkg:
          [
            yarn1,
            yarn4
          ]
        node: [22, 24]
    name: ${{ matrix.pkg }} / ubuntu-latest / ${{ matrix.node }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Build application with Node ${{ matrix.node }}
        uses: ./.github/actions/build-app
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies with a custom registry version ${{ matrix.node }}
        uses: ./.github/actions/install-app-node
        with:
          node-version: ${{ matrix.node }}
          reporter: 'default'
          loglevel: 'debug'
      - name: Test CLI
        run: cd e2e/cli/e2e-${{matrix.pkg}} && NODE_ENV=production pnpm test
