name: Release Canary 6.x

on:
  workflow_dispatch:
  push:
    branches:
      - 6.x
jobs:
  release:
    name: Release Snapshot
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
    - name: Use Node (latest)
      uses: actions/setup-node@7c12f8017d5436eb855f1ed4399f037a36fbd9e8 # v2.5.2
      with:
        node-version-file: '.nvmrc'
    - name: Install
      run: yarn install
    - name: Build
      run: yarn build
    - name: Bump up package
      run: npm version prerelease --no-git-tag-version --preid $(date +%s)      
    - name: Publish
      run: sh scripts/publish-prerelease.sh
      env:
        REGISTRY_AUTH_TOKEN: ${{ secrets.VERDACCIO_REGISTRY_TOKEN_CANARY }}
        REGISTRY_URL: registry.verdaccio.org
