on:
  workflow_call:
    inputs:
      docker_tag:
        required: true
        type: string
        description: 'Docker tag to use for the verdaccio image'
        default: '5'
      module_tag:
        required: true
        type: string
        description: 'Npmjs module tag to use for the verdaccio image'
        default: '@latest'   
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'
      - name: Docker test
        run: |
            docker run -d -it --rm --name verdaccio -p 4873:4873 verdaccio/verdaccio:${{ inputs.docker_tag }}
      - name: verdaccio cli 
        run:  npm install -g verdaccio${{inputs.module_tag }} --registry http://localhost:4873                        
      - name: gastby cli 
        run:  npm install -g gatsby-cli --registry http://localhost:4873
      - name: netlify cli 
        run:  npm install -g netlify-cli --registry http://localhost:4873
      - name: angular cli 
        run:  npm install -g @angular/cli --registry http://localhost:4873
