on:
  workflow_call:
    inputs:
      node_version:
        required: true
        type: string
jobs:
  ci:
    name: Node ${{ inputs.node_version }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Use Node ${{ inputs.node_version }}
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: ${{ inputs.node_version }}
    - name: Install
      run: yarn install --immutable
    - name: Build
      run: yarn build
    - name: Types
      run: yarn code:types            
    - name: Test
      run: yarn test
