@import '../../styles/variable';

.header {
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;
  background: $primary-color;

  figure {
    margin: 0 0 0 10px;
    font-size: 14px;
    line-height: 18px;
    padding: 8px 0;
    color: #f9f2f4;
  }

  .headerWrap {
    display: flex;
    align-items: center;

    @include container-size();
  }

  .logo {
    height: 50px;
  }

  .welcome {
    margin-left: auto;
    color: white;
  }
}

